:root {
    box-sizing: border-box;
    font-size: 0.875rem;
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --dark: #292a2b;
    --lightgrey: #736f73;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
    outline: 0 none;
}

/*-- Principio David --*/

#our-team {
    width: 100vw;
    display: flex;
    margin: 2em 2em auto;
}

#our-team img.player-img {
    display: block;
    position: relative;
    max-width: 80%;
}

.player-btn { 
    position: absolute;
    align-items: center;
    background-color: transparent;
}

.fa-stack .fa {
    color: black;
}
.fa-stack .fa.fa-circle {
    color: white;
}

.fa-stack:hover .fa.fa-circle {
    color: var(--yellow);
}

.player-name {
    z-index: 2;
    position: absolute;
}

.hide-hvr {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 9999s, opacity 0.1s ease-in-out;
}

.show-hvr {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 9999s, opacity 0.1s ease-in-out;
}

/*-- Final David --*/

@media (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}
