:root {
    box-sizing: border-box;
    font-size: 0.875rem;
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc311;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --dark: #292a2b;
    --lightgrey: #736f73;
    --white: #fff;
    --yellowHack: #ffc311;
    --whiteTGame: #fffefa;
    --darkHack: #282828;
    --grey: #929292;
}
*,
::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
    outline: 0 none;
}
html,
body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: auto;
}

.ELbody {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
}
.ELbody h1 {
    font-family: "Titillium Web", sans-serif;
    margin-left: 1rem;
    font-size: 3.5rem;
}
.ELbody h1:nth-child(2) {
    color: var(--yellow);
    margin-top: -0.5em;
    margin-bottom: -0.3em;
}
.ELbody p {
    font-family: "Poppins", sans-serif;
    color: var(--lightgrey);
    margin-top: 1rem;
    margin-left: 1.2rem;
    margin-bottom: 1.3rem;
}

#our-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playercontainer {
    width: 92%;
    position: relative;
    overflow: hidden;
    color: #fff;
    margin-bottom: 10%;
    box-shadow: 0px 13px 27px -5px rgba(50, 50, 93, 0.25),
        0px 8px 16px -8px rgba(0, 0, 0, 0.3);
}

.player-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.player-anim {
    position: absolute;
    bottom: 100%;
    width: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s ease;
}

.player-btn {
    position: absolute;
    top: 50%;
    width: 50%;
    left: 25%;
    z-index: 1;
    text-align: center;
    transition: 0.5s;
}
.playercontainer:hover .player-anim {
    height: 100%;
    bottom: 0;
}
.player-name-cont {
    position: absolute;
    left: 25%;
    bottom: 5em;
    width: 50%;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
    color: var(--dark);
    background-color: var(--yellow);
    display: inline-block;
    transition: 0.5s;
}

.player-name {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.4em;
    padding: 0.8rem 1rem;
    display: inline-block;
}
.playercontainer:hover .player-name-cont {
    bottom: -100%;
}

.fa-stack .fa {
    color: black;
}
.fa-stack .fa.fa-circle {
    color: white;
}

.fa-stack:hover .fa.fa-circle {
    color: var(--yellow);
}

@media (min-width: 768px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .playercontainer {
        width: 29%;
        margin: 1em 1em;
    }
    .player-name-cont {
        bottom: 8em;
    }
    .ELbody p {
        margin-top: 2%;
        margin-bottom: 0.8%;
    }
}

@media (min-width: 1025px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .playercontainer {
        width: 30%;
        margin: 1em 1em;
    }
    .player-name-cont {
        bottom: 8em;
    }
    .ELbody p {
        margin-top: 2%;
        margin-bottom: 0.8%;
    }
}

#ourGames {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
}
#ourGames .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#ourGames .ourG-title {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    margin-left: 1rem;
}
#ourGames span {
    color: var(--yellow);
}
#ourGames .ourG-subt {
    color: var(--lightgrey);
    font-family: "Poppins", sans-serif;
    margin-bottom: 1.3rem;
    margin-left: 1.2rem;
}

#ourGames .card {
    width: 100%;
    height: 100%;
    margin: 1em;
    box-shadow: 0px 1px 6px 1px rgba(111, 115, 111, 0.5);
    -webkit-box-shadow: 0px 1px 6px 1px rgba(111, 115, 111, 0.5);
    -moz-box-shadow: 0px 1px 6px 1px rgba(111, 115, 111, 0.5);
}
#ourGames img {
    width: 100%;
    height: 80%;
}
#ourGames .card-text h1:hover {
    color: var(--yellow);
    text-decoration: none;
}
#ourGames a {
    color: var(--lightgrey);
    text-decoration: none;
}
#ourGames a:hover {
    color: var(--yellow);
    text-decoration: none;
}
#ourGames .card-text p {
    margin-top: 1.3rem;
    color: var(--lightgrey);
    font-family: "Poppins", sans-serif;
}
#ourGames .card-text a {
    font-family: "Poppins", sans-serif;
    margin-top: 1.5rem;
}
#ourGames .card-text {
    border: 1px solid white;
    margin-top: -3px;
    /* border-top: 1px solid white; */
    padding: 1em;
}
#ourGames .card-text h1 {
    font-size: 25px;
}
/* Modal Login */
.modal {
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    --transform: translateY(-100vh);
    --transition: transform 0.5s;
    z-index: 3;
}
.modal-show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.3s;
    --transform: translateY(0);
    --transition: transform 0.5s;
}
.modal .modal-container {
    transform: var(--transform);
    transition: transform 0.3s;
    transition: var(--transition);
    font-family: "Poppins", sans-serif;
    /* margin-left: 25%; */
}
.modal .modal-close {
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-size: 18px;
    float: right;
}
.modal .modal-title {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.modal .modal-userName,
.modal .modal-password {
    width: 80%;
    height: 2.5rem;
    border: 1px solid var(--lightgrey);
    margin: 0.2rem 1.4rem 1rem 2.5rem;
    padding: 1rem;
    color: var(--lightgrey);
}
.modal .modal-remember {
    border: 1px solid var(--lightgrey);
    margin: 0.2rem 1.4rem 1rem 2.5rem;
    color: var(--lightgrey);
}
.modal .modal-signIn {
    width: 6rem;
    height: 3rem;
    margin: 0.2rem 1.4rem 1rem 2.5rem;
    color: white;
    background-color: var(--yellow);
}
.modal .modal-lost {
    text-decoration: none;
    margin: 0.2rem 0 1rem 2.5rem;
    color: var(--dark);
}
.modal .modal-create {
    text-decoration: none;
    margin: 0.2rem 0 1rem 4.5rem;
    color: var(--lightgrey);
    font-family: "Poppins", sans-serif;
}

/* Modal SignUp */
.modalSU {
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    --transform: translateY(-100vh);
    --transition: transform 0.5s;
    z-index: 3;
}
.modalSU-show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.3s;
    --transform: translateY(0);
    --transition: transform 0.5s;
}
.modalSU .modalSU-container {
    transform: var(--transform);
    transition: transform 0.3s;
    transition: var(--transition);
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.modalSU .modalSU-close {
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-size: 18px;
    float: right;
}
.modalSU .modalSU-title {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

/* Breakpoints */

@media (min-width: 768px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    #ourGames .card {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        width: 29%;
        height: 100%;
    }
    #ourGames img {
        width: 100%;
        height: 100%;
    }
    #ourGames .card-text {
        width: 100%;
        height: 100%;
        margin-top: -1px;
    }
    #ourGames .card-text h1 {
        font-size: 20px;
    }
    .dissable {
        opacity: 0;
    }
    /* Modal Login */
    .modal .modal-container {
        margin-left: 15%;
        margin-top: 10%;
    }
    .modal .modal-close {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .modal .modal-title {
        font-size: 50px;
        margin-top: 8rem;
        margin-right: 15%;
    }
    .modal .modal-userName,
    .modal .modal-password {
        width: 34rem;
        height: 4rem;
        margin: 0.5rem 3rem 1.5rem 2.5rem;
        padding: 1rem;
    }
    .modal .modal-create {
        margin: 0.2rem 0 1rem 16rem;
    }

    /* Modal SignUp */
    .modalSU .modalSU-container {
        margin-top: 10%;
    }
    .modalSU .modalSU-close {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .modalSU .modalSU-title {
        font-size: 50px;
    }
}
@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    #ourGames h1 {
        font-size: 3.5rem;
    }
    #ourGames .card {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        width: 30%;
        height: 100%;
        margin: 1em 1em;
    }
    #ourGames img {
        width: 100%;
        height: 100%;
    }
    #ourGames .card-text {
        width: 100%;
        height: 100%;
        margin-top: -1px;
    }
    #ourGames .card-text h1 {
        font-size: 20px;
    }
    #ourGames .card-text i {
        font-size: 10px;
    }
    #ourGames .card-text a {
        font-size: 10px;
    }
    /* Modal Login */
    .modal .modal-container {
        margin-left: 30%;
        margin-top: 10%;
    }
    .modal .modal-close {
        width: 60px;
        height: 60px;
        font-size: 22px;
    }
    .modal .modal-title {
        font-size: 60px;
        margin-top: 8rem;
        margin-right: 40%;
    }
    .modal .modal-userName,
    .modal .modal-password {
        width: 50%;
        height: 4rem;
        margin: 0.5rem 3rem 1.5rem 2.5rem;
        padding: 1rem;
    }
    .modal .modal-create {
        margin: 0.2rem 0 1rem 14.5rem;
    }
    /* Modal SignUp */
    .modalSU .modalSU-container {
        margin-top: 10%;
    }
    .modalSU .modalSU-close {
        width: 60px;
        height: 60px;
        font-size: 22px;
    }
    .modalSU .modalSU-title {
        font-size: 60px;
    }
}

/*  FOOTER  */

.footerpie-pag {
    width: 100%;
    background-color: black;
    flex-direction: column;
    position: relative;
    bottom: 0;
}

.footer-div {
    width: 100%;
    padding: 2em;
    color: white;
    font-family: "Titillium Web", sans-serif;
    position: relative;
    margin-top: auto;
}

.footer-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.6rem;
}

.footer-last {
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 1rem;
}

.yll {
    color: #ffc311;
}

.wht {
    color: white;
}

@media (min-width: 768px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  */
    .footer-h2 {
        font-size: 2rem;
    }

    .footer-last {
        font-size: 1.2rem;
    }
}
@media (min-width: 1025px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  */
    .footer-h2 {
        font-size: 2.4rem;
    }

    .footer-last {
        font-size: 1.4rem;
    }
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    z-index: 0;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

div.slideshow-container img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* The dots/bullets/indicators */
.dotContainer {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
}
.dot {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    border: 2px solid #bbb;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #bbb;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    div.slideshow-container img {
        height: 94vh;
    }
    .dotContainer {
        width: 70%;
    }
}

@media (min-width: 1025px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    div.slideshow-container img {
        height: 100vh;
    }
    .dotContainer {
        width: 80%;
    }
}

body {
    font-family: "Poppins", sans-serif;
    font-family: "Titillium Web", sans-serif;
}
.header-div {
    position: absolute;
    z-index: 2;
    display: flex;
    width: 100%;
    top: 0;
    height: 5rem;
    background-color: #fffefa;
}
.header-h1 {
    font-size: 1.6rem;
    font-family: "Titillium Web", sans-serif;
    background-color: var(--whiteTGame);
    text-align: center;
    margin-right: 8rem;
    margin-left: 2rem;
    margin-top: 1.2rem;
    white-space: nowrap;
}
.header-dark {
    color: var(--darkHack);
}
.header-yellow {
    color: var(--yellowHack);
}
.header-buttons1 {
    background-color: #ffc311;
    border: 1px solid #ffc107;
    border-radius: 1.2rem;
    border-color: #ffc107;
    height: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.25;
    padding: 0;
    margin: 0;
    width: 2rem;
    font-size: 1rem;
    font-weight: bolder;
    width: 170px;
}
.header-buttons1 button {
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    width: 46%;
    text-align: center;
    padding: 0 2%;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}
.header-buttons1 button:hover {
    color: var(--dark);
}
.header-button {
    display: block;
    text-align: right;
    margin-top: 1.2rem;
    margin-left: 5rem;
}
.buttonMenu {
    border-radius: 15%;
    cursor: pointer;
    color: var(--whiteTGame);
    background-color: var(--darkHack);
    height: 2.7rem;
    width: 2.7rem;
}
.header-menu {
    width: 70%;
    height: 100vh;
    background-color: var(--darkHack);
    transition: transform 0.4s;
    transform: translateX(100%);
    text-align: left;
    flex-direction: column;
    position: fixed;
    display: flex;
}
.header-close-menu {
    cursor: pointer;
    color: var(--whiteTGame);
}
.header-menu-opened {
    font-family: "Poppins", sans-serif;
    color: var(--whiteTGame);
}
.menuActive {
    display: block;
}
.header-icons {
    color: var(--whiteTGame);
    transition: all 0.3s ease;
    margin: 6px;
}
.header-icons a:hover {
    color: #ffc311;
}
.header-h2-p {
    white-space: wrap;
    object-fit: cover;
    width: 100vw;
    position: absolute;
    z-index: 1;
}
.header-h2 {
    display: block;
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    margin-top: 25rem;
    font-size: 3rem;
    text-shadow: 1px 1px var(--darkHack);
}
.header-white {
    color: var(--whiteTGame);
}
.header-p {
    font-family: "Poppins", sans-serif;
    font-size: 1.15rem;
    text-align: center;
    display: flex;
    color: var(--whiteTGame);
    text-shadow: 3px 3px var(--darkHack);
    font-weight: bold;
}
.modal-show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.3s;
    --transform: translateY(0);
    --transition: transform 0.5s;
}
@media (max-width: 768px) {
    .header-menu-desktop {
        display: none;
    }
}
@media (min-width: 768px) {
    /* 768 x 1025 */
    .header-div {
        height: 6rem;
        position: relative;
        display: flex;
        width: 100%;
    }
    .header-h1 {
        white-space: wrap;
        font-size: 1.8rem;
        margin-top: 1.5rem;
        margin-left: 2rem;
    }
    .header-menu-desktop {
        opacity: 0;
    }
    .header-button {
        margin-top: 1.5rem;
        margin-left: 34rem;
    }
    .buttonMenu {
        height: 2.8rem;
        width: 2.8rem;
    }
    .header-h2 {
        font-size: 3.5rem;
    }
    .header-h2-p {
        margin-top: 8rem;
        width: 100%;
    }
    .header-p {
        font-size: 1.15rem;
    }
}
@media (min-width: 1140px) {
    /* 820 x 1180  */
    .header-div {
        height: 0rem;
        z-index: 1;
    }
    .header-h1 {
        margin-top: 3rem;
        margin-left: 6rem;
    }
    .header-dark {
        color: var(--whiteTGame);
    }
    .header-button {
        display: none;
    }
    .header-h2 {
        font-size: 3.5rem;
    }
    .header-h2-p {
        margin-top: 2rem;
        margin-left: 22rem;
        width: 55%;
    }
    .header-p {
        font-size: 1.15rem;
    }
    .header-menu-desktop {
        opacity: 1;
        width: 100%;
    }
    .header-line1 {
        display: flex;
        text-align: right;
        padding-left: 45%;
        padding-top: 3%;
    }
    .header-nav1 {
        text-align: center;
        padding-right: 15%;
    }
    .header-nav1 a {
        color: #fffefa;
        transition: all 0.3s ease;
        margin: 6px;
    }
    .header-nav1 a:hover {
        color: #ffc311;
    }
    .header-buttons1 {
        background-color: #ffc311;
        border: 1px solid #ffc107;
        border-radius: 1.2rem;
        border-color: #ffc107;
        height: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        line-height: 1.25;
        padding: 0;
        margin: 0;
        width: 2rem;
        font-size: 1rem;
        font-weight: bolder;
        width: 170px;
    }
    .header-buttons1 button {
        background-color: transparent;
        font-family: "Poppins", sans-serif;
        width: 46%;
        text-align: center;
        padding: 0 2%;
        color: white;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .header-buttons1 button:hover {
        color: var(--dark);
    }
    .header-nav2 {
        color: #fffefa;
        text-align: left;
        padding-left: 45%;
        padding-top: 15px;
        justify-content: space-between;
        font-family: "Poppins", sans-serif;
    }
    .header-nav2 a {
        color: #fffefa;
        transition: all 0.3s ease;
        margin: 15px;
        /* margin-right: 20px; */
    }
    .header-nav2 a:hover {
        color: #ffc311;
    }
    .header-menu {
        display: none;
    }
    .header-icons {
        display: none;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .sticky + .content {
        padding-top: 102px;
    }
}

/* BUTTON MENU */

.dissable {
    opacity: 0;
}
.hMenuContainer {
    background-color: black;
    position: fixed;
    width: 70vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    --transform: translateY(-100vh);
    --transition: transform 0.5s;
    right: 0;
}
.hamburguerMenu-show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.3s;
    --transform: translateY(0);
    --transition: transform 0.5s;
}
.hMenu .hMenuContainer {
    transform: var(--transform);
    transition: transform 0.3s;
    transition: var(--transition);
    font-family: "Poppins", sans-serif;
    text-align: center;
    z-index: 2;
}

.hMenuContainer .buttonClose {
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-size: 18px;
    float: right;
    margin-right: 1em;
    margin-top: 0.5em;
}
.hMenuContainer a {
    text-decoration: none;
    color: white;
}
.hMenuContainer ul {
    list-style: none;
}
.hMenuContainer .hMenuSections li {
    border-bottom: 1px solid white;
    padding-top: 1.5em;
    margin: 1em 1.5em 0 1em;
}
.hMenuContainer .hMenuRRSS {
    margin-top: 2em;
    margin-left: 3.5em;
}
.hMenuContainer .hMenuRRSS a {
    padding: 0.5em;
}
.hMenuContainer .hMenuLogin button {
    width: 8.9em;
    height: 2em;
    background-color: var(--yellow);
    color: white;
    margin: 2em 0 0 1.5em;
    border: 1px solid var(--yellow);
}
.hMenuContainer .hMenuLogin button:hover {
    color: black;
}
.hMenuContainer .hMenuLogin #signUp {
    margin-left: -0.3em;
}
/* Breakpoints */

@media (min-width: 768px) {
    .hMenuContainer .hMenuRRSS {
        margin-left: 3.5em;
        padding-top: 1em;
    }
    .hMenuContainer .hMenuRRSS a {
        padding: 2.2em;
    }
    .hMenuContainer .hMenuLogin button {
        width: 18.6em;
        height: 3em;
        margin: 2em 0 0 2em;
    }
}
